<%= form_with model: @forum, :html => {:class => "w-50 justify-content-center d-flex flex-column"}, :url => forum_path, :remote => true do |form| %>
    <div class="mb-3">
        <%= form.label :title, class:"form-label" %><br>
        <%= form.text_field :title, class: "form-control", autoFocus: true %>
    </div>

    <div class="mb-3">
        <%= form.label :description, class:"form-label" %><br>
        <%= form.text_area :description , class: "form-control" %>
    </div>

    <div class="d-flex justify-content-center">
        <%= form.submit class:"btn btn-primary w-25", data: {disable_with: false} %>
    </div>
<% end %>
