<%= turbo_frame_tag "app" do %>
  <div class="container">
      <a href="/forum" class="btn btn-primary mt-3">Back to forum</a>
      <% if (current_user.id === @forum.user_id) %>
      <% end %>
      <div class="d-flex justify-content-center mt-3">
          <div class="card w-75">
              <div class="card-header">
                  Forum created by <%= @forum.user.email %>:
                    <% if (current_user.id === @forum.user_id) %>
                      <%=button_to "Delete #{icon('fa-solid', 'trash')}".html_safe, {:controller => :forum, :action => 'destroy', :id => @forum.id}, {class: "btn btn-danger float-md-end m-2", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, :method => :delete} %>
                      <%= link_to "Edit #{icon('fa-solid', 'pen-to-square')}".html_safe, edit_forum_path(@forum.id), :class => "btn btn-primary float-md-end m-2" %>
                    <% end %>
              </div>
              <div class="card-body">
                  <blockquote class="blockquote mb-0">
                  <h3><%= @forum.title %></h3>
                  <p><%= @forum.description %></p>
                  <footer class="blockquote-footer"><cite title="Created On"><%= @forum.created_at.strftime("%-d/%-m/%y at %l:%M %p") %></cite></footer>
                  </blockquote>
              </div>
          </div>
      </div>
      <% if @forum.comment %>
        <div class="w-100 d-flex justify-content-center">
        <div class="card w-75">
          <ul class="list-group list-group-flush">
            <% @forum.comment.each do |comment| %>
              <li class="list-group-item">
                <em><%= comment.user.email %></em><br />
                <%= comment.message %><br />
                <em><%= comment.created_at.strftime("%-d/%-m/%y at %l:%M %p") %></em>
              </li>
            <% end %>
          </ul>
        </div>
        </div>
      <% end %>
      <div class="d-flex justify-content-center">
        <%= render partial: 'comments/create-comment', :locals => {:comment => @comment, :forum => @forum } %>
      </div>
  </div>
<% end %>
